$media-tv: "only screen and (min-width : 1024px)";
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

.navbarContainer{
  position: sticky;
  top: 0;
  z-index: 100;
  // position: absolute;
  background: transparent;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;

  .left{
    color: white;
    cursor: pointer;

    .logoName{
      font-weight: bold;
      display: flex;
      font-size: 25px;

      .firstName{
        // border-style: inset;
        color: purple;
      }

      .lastName{
        color: orange;
      }

    }

  }
  .right{
    margin-top: 10px;
    color: white;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 50px;
    border: 10px solid transparent;
    border-bottom: 3px solid #fffa;
    border-left: 3px solid #fffa;

    ul{
      display: flex;
      justify-content: space-between;
      gap: 1px;
      font-size: 17px;

      li{
        list-style: none;
        cursor: pointer;

        &:hover{
          border-top: 2px solid red;
        }

        &:active{
          border-top: 2px solid blue;
        }

      }

    }

  }
}

@media #{$media-desktop} {
  .navbarContainer{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    .left{
      color: red
    }
    .right{
      color: blue
    }
  }
}
